{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'proud_sheba.jpg'%}" alt="Sheba looking proud standing atop a rock. Behind her is a foggy pond.">
    </a>
    <h1>Getting Started with Sheba</h1>
    <p>This is a website dedicated to Sheba, who is a dog. Perhaps one of the best.</p>
    <a type="button" class="btn btn-lg btn-default" href="{% url 'feed_dog' %}"><span class="glyphicon glyphicon-flash"></span> Check Fed Status</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This page is still being built. Please come back for more features and information about Sheba the dog soon.
  </div>
</div>
{% endblock %}
